@page "/order"

@using BlazoRx.Core
@using BlazoRx.Demo.Model
@using BlazoRx.Demo.Service

@inject IDataService dataService
@inject IStore<AppState> Store

<h1>Orders</h1>

<button class="btn btn-primary" @onclick="AddNewRandomOrder">Add Random Order</button>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in orders)
        {
        <tr>
            <td>@order.Id</td>
            <td>@order.Customer.FirstName @order.Customer.LastName (@order.Customer.Email)</td>
            <td>@order.Product.Name</td>
            <td>@order.Product.Description</td>
        </tr>
        }
    </tbody>
</table>


@code {
    Order[] orders;

    protected override void OnInitialized()
    {
        Store.Connect<IEnumerable<Order>>(state => state.AllOrders)
            .Reduce()
            .Subscribe(allOrders => orders = allOrders.ToArray());

    }

   private void AddNewRandomOrder()
    {
        Store.Dispatch(state => {

            List<Order> ordersList = state.AllOrders.ToList();

            ordersList.Add(dataService.GetOrders(1).First());

            state.AllOrders = ordersList;

            return state;
        });
    }
}
